@inherits GovUkComponentView<PaginationOptions>

@{
    var blockLevel = !(Model.Items?.Count > 0) && (Model.Next is not null || Model.Previous is not null);

    void RenderArrowPrevious()
    {
        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
    }

    void RenderArrowNext()
    {
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
    }

    async Task RenderArrowLink(dynamic link, string type, Action renderContents)
    {
        Action renderArrow = type is "prev" ? RenderArrowPrevious : RenderArrowNext;
        <div class="govuk-pagination__@type" _gfa-attributes="link.ContainerAttributes">
            <a class="govuk-link govuk-pagination__link" href="@link.Href" rel="@type" _gfa-attributes="link.Attributes">
                @if (blockLevel || type is "prev")
                {
                    renderArrow();
                }
                <span class="@Classes("govuk-pagination__link-title", blockLevel && link.LabelText is null ? "govuk-pagination__link-title--decorated" : null)">
                    @{ renderContents(); }
                </span>
                @if (link.LabelText is TemplateString labelText && blockLevel)
                {
                    <span class="govuk-visually-hidden">:</span>
                    <span class="govuk-pagination__link-label">@labelText</span>
                }
                @if (!blockLevel && type is "next")
                {
                    renderArrow();
                }
            </a>
        </div>
    }

    async Task RenderPageItem(PaginationOptionsItem item)
    {
        <li class="@Classes("govuk-pagination__item", item.Current is true ? "govuk-pagination__item--current" : null, item.Ellipsis is true ? "govuk-pagination__item--ellipsis" : null)">
            @if (item.Ellipsis is true)
            {
                <text>&ctdot;</text>
            }
            else
            {
                <a class="govuk-link govuk-pagination__link" href="@item.Href" aria-label="@(item.VisuallyHiddenText ?? $"Page {item.Number}")"
                  aria-current="@(item.Current is true ? "page" : null)"
                  _gfa-attributes="item.Attributes">
                  @item.Number
                </a>
            }
        </li>
    }
}

<nav class="@Classes("govuk-pagination", blockLevel ? "govuk-pagination--block" : null, Model.Classes)" aria-label="@(Model.LandmarkLabel ?? "Pagination")"
     _gfa-attributes="Model.Attributes">
    @{
        var previous = Model.Previous;
        var next = Model.Next;
    }

    @if (previous?.Href is not null)
    {
        void RenderContents()
        {
            if (previous.Html is not null || previous.Text is not null)
            {
                @HtmlOrText(previous.Html, previous.Text)
            }
            else
            {
                <text>Previous<span class="govuk-visually-hidden"> page</span></text>
            }
        }

        await RenderArrowLink(previous, "prev", RenderContents);
    }

    @if (Model.Items?.Count > 0)
    {
        <ul class="govuk-pagination__list">
            @foreach (var item in Model.Items)
            {
                await RenderPageItem(item);
            }
        </ul>
    }

    @if (next?.Href is not null)
    {
        void RenderContents()
        {
            if (next.Html is not null || next.Text is not null)
            {
                @HtmlOrText(next.Html, next.Text)
            }
            else
            {
                <text>Next<span class="govuk-visually-hidden"> page</span></text>
            }
        }

        await RenderArrowLink(next, "next", RenderContents);
    }
</nav>
