@using System.Text
@using GovUk.Frontend.AspNetCore
@using GovUk.Frontend.AspNetCore.ComponentGeneration
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Options
@using static GovUk.Frontend.AspNetCore.Views.GovUkPageTemplateConstants;
@inject IComponentGenerator ComponentGenerator
@inject IOptions<GovUkFrontendOptions> OptionsAccessor
@addTagHelper *, GovUk.Frontend.AspNetCore
@{
    var assetPath = ViewData[ViewDataKeys.AssetPath] as PathString? ??
        Context.Request.PathBase + PageTemplateHelper.DefaultAssetsPath;

    var cspNonce = ViewData[ViewDataKeys.CspNonce] as string ?? OptionsAccessor.Value.GetCspNonceForRequest?.Invoke(ViewContext.HttpContext);

    var htmlLang = ViewData[ViewDataKeys.HtmlLang] ?? "en";
    var themeColor = ViewData[ViewDataKeys.ThemeColor] ?? "#1d70b8";
    var ogImage = ViewData[ViewDataKeys.OpengraphImageUrl] ??
        $"{Context.Request.Scheme}://{Context.Request.Host}{GetStaticAssetUrl("images/govuk-opengraph-image.png")}";

    static string Classes(params string?[] classes)
    {
        return string.Join(" ", classes.Where(c => !string.IsNullOrWhiteSpace(c)));
    }

    static IHtmlContent? Attributes(AttributeDictionary? attributes)
    {
        if (attributes is null || attributes.Count == 0)
        {
            return null;
        }

        var builder = new HtmlContentBuilder();

        foreach (var attribute in attributes)
        {
            builder.Append(" ");
            builder.Append(attribute.Key);
            if (attribute.Value is not null)
            {
                builder.AppendHtml("=\"");
                builder.Append(attribute.Value);
                builder.AppendHtml("\"");
            }
        }

        return builder;
    }

    async Task<IHtmlContent> CaptureSectionContentAsync(string sectionName)
    {
        IgnoreSection(sectionName);

        var buffer = new StringBuilder();
        await using var writer = new StringWriter(buffer);

        var oldWriter = ViewContext.Writer;
        ViewContext.Writer = writer;

        try
        {
            await RenderSectionAsync(sectionName);
        }
        finally
        {
            ViewContext.Writer = oldWriter;
        }

        await writer.FlushAsync();
        return new HtmlString(buffer.ToString());
    }

    string GetStaticAssetUrl(string url)
    {
        var result = assetPath + "/" + url;

        if (OptionsAccessor.Value.FrontendPackageHostingOptions.HasFlag(FrontendPackageHostingOptions.HostAssets))
        {
            result = QueryHelpers.AddQueryString(result, HostCompiledAssetsMiddleware.StaticAssetVersionQueryParamName, GovUkFrontendInfo.Version);
        }

        return result;
    }
}
<!DOCTYPE html>
<html lang="@htmlLang" class="@Classes("govuk-template", ViewData[ViewDataKeys.HtmlClasses] as string)">

<head>
    <meta charset="utf-8">
    <title lang="@ViewData[ViewDataKeys.TitleLang]">@ViewData[ViewDataKeys.Title]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="@themeColor">

    @if (IsSectionDefined(SectionNames.Head))
    {
        @await RenderSectionAsync(SectionNames.Head)
    }
    else
    {
        @Html.GovUkFrontendStyleImports()
    }

    @if (IsSectionDefined(SectionNames.HeadIcons))
    {
        @await RenderSectionAsync(SectionNames.HeadIcons)
    }
    else
    {
        <link rel="icon" sizes="48x48" href="@(GetStaticAssetUrl("images/favicon.ico"))">
        <link rel="icon" sizes="any" href="@(GetStaticAssetUrl("images/favicon.svg"))" type="image/svg+xml">
        <link rel="mask-icon" href="@(GetStaticAssetUrl("images/govuk-icon-mask.svg"))" color="@themeColor">
        <link rel="apple-touch-icon" href="@(GetStaticAssetUrl("images/govuk-icon-180.png"))">
        <link rel="manifest" href="@(GetStaticAssetUrl("manifest.json"))">
    }

    <meta property="og:image" content="@(ogImage)">
</head>

<!body class="@Classes("govuk-template__body", ViewData[ViewDataKeys.BodyClasses] as string)"@Attributes(ViewData[ViewDataKeys.BodyAttributes] as AttributeDictionary)>
    @Html.GovUkFrontendJsEnabledScript(cspNonce)
    @await RenderSectionAsync(SectionNames.BodyStart, required: false)

    @if (IsSectionDefined(SectionNames.SkipLink))
    {
        @await RenderSectionAsync(SectionNames.SkipLink)
    }
    else
    {
        <govuk-skip-link href="#main-content">Skip to main content</govuk-skip-link>
    }

    @if (IsSectionDefined(SectionNames.Header))
    {
        @await RenderSectionAsync(SectionNames.Header)
    }
    else
    {
        var headerContent = new HtmlContentBuilder();

        if (IsSectionDefined(SectionNames.HeaderStart))
        {
            headerContent.AppendHtml(await RenderSectionAsync(SectionNames.HeaderStart));
        }

        headerContent.AppendHtml(
            IsSectionDefined(SectionNames.GovUkHeader) ?
                await CaptureSectionContentAsync(SectionNames.GovUkHeader) :
                await ComponentGenerator.GenerateHeaderAsync(new HeaderOptions()));

        headerContent.AppendHtml(
            IsSectionDefined(SectionNames.GovUkServiceNavigation) ?
                await CaptureSectionContentAsync(SectionNames.GovUkServiceNavigation) :
                ViewData[ViewDataKeys.ServiceName] is string serviceName ?
                await ComponentGenerator.GenerateServiceNavigationAsync(new ServiceNavigationOptions
                {
                    ServiceName = serviceName,
                    ServiceUrl = ViewData[ViewDataKeys.ServiceUrl] as string
                }) :
                HtmlString.Empty);

        if (IsSectionDefined(SectionNames.HeaderEnd))
        {
            headerContent.AppendHtml(await CaptureSectionContentAsync(SectionNames.HeaderEnd));
        }

        if (!headerContent.IsEmpty())
        {
            <header class="@Classes("govuk-template__header", ViewData[ViewDataKeys.HeaderClasses] as string)"@Attributes(ViewData[ViewDataKeys.HeaderAttributes] as AttributeDictionary)>
                @headerContent
            </header>
        }
    }

    @if (IsSectionDefined(SectionNames.Container))
    {
        IgnoreBody();
        @await RenderSectionAsync(SectionNames.Container)
    }
    else
    {
        <div class="@Classes("govuk-width-container", ViewData[ViewDataKeys.ContainerClasses] as string)"@Attributes(ViewData[ViewDataKeys.ContainerAttributes] as AttributeDictionary)>
            @if (IsSectionDefined(SectionNames.ContainerStart))
            {
                @await RenderSectionAsync(SectionNames.ContainerStart)
            }
            else if (IsSectionDefined("BeforeContent"))
            {
                @await RenderSectionAsync("BeforeContent")
            }
            <!main class="@Classes("govuk-main-wrapper", ViewData[ViewDataKeys.MainClasses] as string)" id="main-content" role="main" lang="@ViewData[ViewDataKeys.MainLang]"@Attributes(ViewData[ViewDataKeys.MainAttributes] as AttributeDictionary)>
                @if (!Context.GetContainerErrorContext().ErrorSummaryHasBeenRendered)
                {
                    <govuk-error-summary/>
                }

                @RenderBody()
            </!main>
            @await RenderSectionAsync(SectionNames.ContainerEnd, required: false)
        </div>
    }

    @if (IsSectionDefined(SectionNames.Footer))
    {
        @await RenderSectionAsync(SectionNames.Footer)
    }
    else
    {
        var footerContent = new HtmlContentBuilder();

        if (IsSectionDefined(SectionNames.FooterStart))
        {
            footerContent.AppendHtml(await CaptureSectionContentAsync(SectionNames.FooterStart));
        }

        footerContent.AppendHtml(
            IsSectionDefined(SectionNames.GovUkFooter) ?
                await CaptureSectionContentAsync(SectionNames.GovUkFooter) :
                await ComponentGenerator.GenerateFooterAsync(new FooterOptions()));

        if (IsSectionDefined(SectionNames.FooterEnd))
        {
            footerContent.AppendHtml(await CaptureSectionContentAsync(SectionNames.FooterEnd));
        }

        if (!footerContent.IsEmpty())
        {
            <footer class="@Classes("govuk-template__footer", ViewData[ViewDataKeys.FooterClasses] as string)"@Attributes(ViewData[ViewDataKeys.FooterAttributes] as AttributeDictionary)>
                @footerContent
            </footer>
        }
    }

    @if (IsSectionDefined(SectionNames.BodyEnd))
    {
        @await RenderSectionAsync(SectionNames.BodyEnd)
    }
    else
    {
        @Html.GovUkFrontendScriptImports(cspNonce)
    }
</!body>
</html>
